<!-- CODE ON TESTING PURPOSE, REMOVE ALL THIS BLOCK WHEN LIST PAGE IS WORKING-->

<link href="list-item.component.css" type="text/css" rel="stylesheet"/>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
<div id="user-item">
    
<!-- END OF THE BLOCK TO REMOVE-->


    <img src="https://randomuser.me/api/portraits/thumb/women/93.jpg" alt="profile picture thumbnail" class="thumbnail" class="grid-start"/>
    <ul class="grid-center">
        <li class="primary-info">Nom</li>
        <li class="primary-info">Prénom</li>
        <li class="secondary-info">E-mail</li>
    </ul>
    <img src="../../../assets/img/age_icons/advance.svg" class="grid-end">

</div>
<!-- TODO CPR : 
    1 - Design of the item list
    2 - remove hardcoded values and populate fields with Json Data.
-->
    