html {background-color: pink; font-family: 'Open Sans';}

ul {
    list-style-type: none;
}



#user-item {
    display: grid;
    border-radius: 16px;
    background-color: rgb(253, 253, 253);
    grid-gap: 2%;
    align-items: center;
    justify-items: start;
    cursor:pointer;
    margin: 5px;
    
}


.grid-start {
    display: block;
    grid-column: 1;       
    grid-row: 1/1;
    text-align: left;
    padding-left: 8%;       
}

.grid-center {
    grid-column: 2/7;    
    width: 100%;
    
}

.grid-end {
    grid-column: 7 ;
    grid-row: 1/1;
    height: 50px;
    text-align: right;
    justify-self: right;
    padding-right: 8%;

}

.thumbnail {
    border-radius: 50%;
    height: 50px;
}

.primary-info{
    display: inline;
    font-weight: bold;
    text-transform: uppercase;
    padding-top: 5px;

}

.age-icon {
    width: 50px;
}
