#detail {
    margin: 30px 30px 30px 30px;
    border-radius: 20px;
    background-color: white;
    padding:30px;
}

ul {
    list-style-type: none;
}

.fields{
    margin-bottom: 5px;
    
    margin-top: 25px;
}

.mail {
    text-align: center;
}

.profile-pic {
    margin: 10px;
    text-align: center;
}
.profile-pic img {
    border-radius: 50%;
}

.name {
    text-transform: uppercase;
    font-size: xx-large;
    font-weight: bold;
    text-align: center;
    line-height: 100%;
}

h6 {
    display: inline;
    font-size: medium;
    font-weight: bold;
    color: palevioletred;
}
#back {
    display: block;
    width: 100px;
    height: 20px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 9px;
    background-color: black;
    color:white;
}
#back:hover {
    background-color: blueviolet;
}

#back:active {
    background-color: darkmagenta;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: pink;
}